
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="/">CYF Hotel</a> 
      <a class="py-2 d-none d-md-inline-block" href="/customers">Customers</a>
      <div class="dropdown">
          <button class="py-2 d-none d-md-inline-block" data-toggle="dropdown" type="button">Invoices</button>
          <ul class="dropdown-menu">
              <li>
                  <a class="py-2 d-none d-md-inline-block" href="/invoices">Invoices</a>
              </li>
              <li>
                  <a href="#">Add New Invoice</a>
              </li>
              <li>
                  <a href="#"></a>
              </li>
          </ul>
      </div>
      <a class="py-2 d-none d-md-inline-block" href="#">Feature 3</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Feature 4</a>
  </div>
</nav>