<section class="invoices">
    <div class="row">
      <div class="col-10">
        <h1>Customers invoices</h1>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Fetch invoices</button>
      </div>
    </div>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Reservation ID</th>
              <th>Total</th>
              <th>Surcharges</th>
              <th>Invoice Date Time</th>
              <th>Paid</th>
            </tr>
          </thead>
          <tbody>
              <!-- There go customers fetched information -->
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

         
            
          </tbody>
        </table>
      </div>
  </div>
</section>